.custom-form{
    border:none; 
    border-bottom: 2px solid #c1c1c1; 
    border-radius: 0px; 
    margin-bottom: 1.5rem; 
}

.custom-form:focus{
    border: none;
    border-color: none;
    box-shadow: none;
    border-bottom: 2px solid #000000;
}

.custom-spacing{
    margin-bottom: 1rem; 
}
.custom-button{
    margin-left: 10px;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-edit{
    text-decoration: none;
}